<app-navbar></app-navbar>
<div
    class="flex flex-col min-h-screen inset-x-0 w-full px-8 md:px-12 py-24 md:py-28 lg:py-28 relative justify-center items-center z-10 flex-1 space-y-8">

    <div class="max-w-xl w-full mx-auto space-y-8">
        <div>
            <!-- <ul class="flex flex-row space-x-4 text-sm font-medium text-center bg-black p-4 rounded-xl mb-10">
                <li (click)="setActiveTab(0)" class="w-full">
                    <button
                        [ngClass]="isTabActive == 0 ? 'bg-[#ff3838] hover:shadow-red text-black':'bg-black text-white'"
                        class="cursor-pointer inline-block px-4 py-3  transition-all duration-300 ease-in-out font-medium w-full  text-sm lg:text-base rounded-lg active"
                        aria-current="page">Upload file</button>
                </li>
                <li (click)="setActiveTab(1)" class="w-full">
                    <button
                        [ngClass]="isTabActive == 1 ? 'bg-[#ff3838] hover:shadow-red text-black':'bg-black text-white'"
                        class="cursor-pointer inline-block px-4 py-3  transition-all duration-300 ease-in-outfont-medium w-full  text-sm lg:text-base rounded-lg">Enter
                        Manually</button>
                </li>
            </ul> -->
            <div class="bg-black p-6 rounded-xl">
                <h4 class="text-white font-semibold text-2xl mb-6">Upload files</h4>
                <ngx-dropzone (change)="onSelect($event)" class="dropzone hover:shadow-2xl">
                    <!-- <div class="text-center mx-auto">
                        <img src="assets/icons/upload-cloud-grey.svg" class="mx-auto w-10 h-10 mb-2" alt="">
                        <ngx-dropzone-label class="">Drag & Drop files</ngx-dropzone-label>
                    </div> -->
                    <ngx-dropzone-label class="font-normal text-center text-sm lg:text-base">
                        <img src="assets/icons/upload-cloud-grey.svg" class="h-12 w-12 mx-auto pb-4" alt="bx-finance">
                        Drag and drop
                        an CSV here, or click to browse.
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div class="grid grid-cols-12 gap-4 mt-6">                   
                    <div class="col-span-12">
                        <div>
                            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter URI</label>
                            <input type="text" id="default-input" class="bg-black font-medium border border-[#2f2f2f] text-white text-sm rounded-lg focus:outline-none focus:ring-[#ff0000] focus:border-[#ff0000] block w-full p-4 ">
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12">
                        <button
                            class="mt-8 bg-[#ef4444] hover:shadow-red transition-all duration-300 ease-in-out p-4 px-8 font-medium w-full text-white text-sm lg:text-base rounded-lg">Upload
                            file</button>                      
                    </div>
                </div>
            </div>
            <!-- <div id="tabContentExample" class="bg-black p-6 rounded-xl">
                <div *ngIf="isTabActive == 0" id="profile-example" role="tabpanel"
                    aria-labelledby="profile-tab-example">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone hover:shadow-2xl">
                        <div class="text-center mx-auto">
                            <img src="assets/icons/upload-cloud-grey.svg" class="mx-auto w-10 h-10 mb-2" alt="">
                            <ngx-dropzone-label class="">Drag & Drop files</ngx-dropzone-label>
                        </div>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <div class="grid grid-cols-12 gap-4 mt-8">
                        <div class="col-span-12 md:col-span-12">
                            <button
                                class="bg-[#ef4444] hover:shadow-red transition-all duration-300 ease-in-out p-4 px-8 font-medium w-full text-white text-sm lg:text-base rounded-lg">Upload
                                file</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isTabActive == 1" id="dashboard-example" role="tabpanel"
                    aria-labelledby="dashboard-tab-example">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone hover:shadow-2xl">
                        <div class="text-center mx-auto">
                            <img src="assets/icons/upload-cloud-grey.svg" class="mx-auto w-10 h-10 mb-2" alt="">
                            <ngx-dropzone-label class="">Drag & Drop files</ngx-dropzone-label>
                        </div>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <div class="grid grid-cols-12 gap-4 mt-6">
                        <div class="col-span-12 md:col-span-12">
                            <button
                                class="bg-[#ef4444] hover:shadow-red transition-all duration-300 ease-in-out p-4 px-8 font-medium w-full text-white text-sm lg:text-base rounded-lg">Enter
                                Manually</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</div>