.reverse-spinner {
  position: relative;
  height: 70px;
  width: 70px;
  border: 4px solid transparent;
  border-top-color: #ff3838;
  border-left-color: #ff3838;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  content: "";
  border: 3px solid transparent;
  border-top-color: #ff0000;
  border-left-color: #ff0000;
  border-radius: 50%;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}

@-webkit-keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}


::-webkit-scrollbar {
  display: none;
}